DATABASE_URL="postgres://a2f745fa4c5f3166f201e8e86f106b7e8c4cf6937a3352d9cb60aedc0f60da05:sk_T1oZ9beOHQsEv8Wzs9Cx0@pooled.db.prisma.io:5432/postgres?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/DBNAME?sslmode=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-a-long-random-secret"
HUBTEL_CLIENT_ID=""
HUBTEL_CLIENT_SECRET=""
GOOGLE_MAPS_API_KEY=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
